<section class="hero is-medium parisBackground2">
    <div class="hero-head">></div>
    <div class="hero-body"></div>
    </div>
    {{#if isLoggedIn}}
        <div class="hero-footer">
            <div class="font-header-2">
                Welcome Home
                <br>
                Jonna Lennartsson
            </div>
        </div>
    {{else}}
        <div class="hero-footer">
            <div class="font-header-2">
                Jonna
                <br>
                Lennartsson
            </div>
        </div>
    {{/if}}
</section>