<aside class="menu box">
    <p class="menu-label">What do you want to do today...</p>
    <ul class="menu-list">    
        <li><a href="/addNewBlogPost">new blog post</a></li>
        <li><a href="/addNewProject">new project</a></li>    
    </ul>
</aside>