{{>header}}
<section class="section">
    <div class="columns">
        <div class="column is-one-fifth"></div>
        <div class="column is-three-fifths contentBackground">
            <div class="center">
                <h1 class="title">About me</h1>
                <p class="simple-box">some text about <strong>Jonna</strong>!</p>
                <figure class="image small-box">
                    <img src="/jag_1.jpg"> 
                </figure>
            </div>   
        </div>
    </div>
</section>
