{{>header}}

<section class="section">
    <div class="columns contentBackground">
        <div class="column is-one-fifth">
            {{>welcomeMenu}}
        </div>
        <div class="column is-three-fifths"> 
            <form ref='uploadForm' id='uploadForm' method="POST" action="/postOnBlog" encType="multipart/form-data">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <nav class="level">
                <div class="level-left">
                <div class="titlewth">
                    <input class="input" type="text" placeholder="Title" name="title" required>
                </div>
                </div>
                <div class="level-right"> 
                    <div class="file is-white">
                        <label class="file-label">
                            <input class="file-input" type="file" name="image" required>
                            <span class="file-cta">
                                <span class="file-icon"><i class="fas fa-upload"></i></span>
                                <span class="file-label">Choose an image…</span>
                            </span>
                        </label>
                    </div>
                </div>
                </nav>
                <textarea class="textarea" placeholder="10 lines of textarea" rows="10" name="content" required></textarea>
                <input class="button" type="submit" value="post">
            </form>
        </div>    
    </div>
</section>