{{>header}}

<section class="section">
    <div class="columns">
        <div class="column is-one-fifth"></div>
        <div class="column contentBackground is-three-fifths">
            <div class="center">
                <h1 class="title">Contact</h1>
                <p class="simple-box"><strong>email:</strong> lennartsson.jonna@live.se</p> 
            </div>
        </div>
    </div>
</section>