{{>header}}

<section class="section">
    <div class="columns">
        <div class="column is-one-fifth"></div>
        <div class="column contentBackground is-three-fifths">
            <h1 class="title center">{{project.Title}}</h1>
            <div class="level-item">
                <figure class="image">
                        <img src="/{{project.Image}}"> 
                </figure>
            </div>
            <p class="simple-box center">{{project.Content}}</p>
            <a href="/portfolio">back to portfolio</a>
        </div>
    </div>
</section>