{{>header}}

<section class="section">
    <div class="columns contentBackground">
        <div class="column is-one-fifth">
            {{>welcomeMenu}}
        </div>
        <div class="column is-three-fifths">
        </div>
    </div>
</section>